* {
	box-sizing: border-box;
	display: block;
}

book {
	background-color: lightgreen;
	color: black;
	width: 400px;
	padding:10px;
	border: 3px solid;
	margin: 10px auto;
}

title {
	text-decoration: underline;
	font-weight: bold;
	text-align: center;
}

author {
	font-style: italic;
}

author:before {
	content: "Author: ";
}

lang:before {
	content: "Language: ";
}

year:before {
	content: "Publication: ";
}
