/*
 * This is free and unencumbered software released into the public domain.
 *
 * Anyone is free to copy, modify, publish, use, compile, sell, or
 * distribute this software, either in source code form or as a compiled
 * binary, for any purpose, commercial or non-commercial, and by any
 * means.
 *
 * In jurisdictions that recognize copyright laws, the author or authors
 * of this software dedicate any and all copyright interest in the
 * software to the public domain. We make this dedication for the benefit
 * of the public at large and to the detriment of our heirs and
 * successors. We intend this dedication to be an overt act of
 * relinquishment in perpetuity of all present and future rights to this
 * software under copyright law.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 * EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
 * MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
 * IN NO EVENT SHALL THE AUTHORS BE LIABLE FOR ANY CLAIM, DAMAGES OR
 * OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE,
 * ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 * OTHER DEALINGS IN THE SOFTWARE.
 *
 * For more information, please refer to <http://unlicense.org/>
 */

/* GENERAL */
body {
	background-color: #fdf6e3;
	color: #45575C;
}

header {
	margin: 30px;
}

header h1 {
	font-family: sans-serif;
	font-size: 50px;
	text-align: center;
}

nav {
	background-color: #eee8d5;
	width: 100%;
	padding-top: 7px;
	text-align: center;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

nav > a {
	text-decoration: none;
	font-size: 24px;
	font-family: sans-serif;
	padding: 10px 10px;
}

nav > a:hover {
	text-decoration: underline;
}

a {
	color: #268bd2;
}

a:visited {
	color: #d33682;
}

main {
	width: 60%;
	margin: 5px auto;
	text-align: justify;
	padding: 5px;
}

main h1 {
	text-align: center;
}

footer {
	text-align: center;
	width: 35%;
	margin: 7px auto;
	border-top: 1px solid;
}

ol.refs {
	padding-left: 5px;
}

ol.refs li {
	list-style-type: none;
	counter-increment: step_counter;
}

ol.refs > li:before {
	content: "[" counter(step_counter) "] ";
}

ol.notes {
	padding-left: 5px;
}

ol.notes li {
	list-style-type: none;
	counter-increment: note_counter;
}

ol.notes > li:before {
	content: "(" counter(note_counter) ") ";
}

ol.roman-numerals {
	list-style-type: upper-roman;
}

sup {
	font-size: 12px;
	line-height: 80%;
}

figcaption {
	font-size: 14px;
}

img.album-cover {
	width: 40%;
	/*float: right;*/
	display: block;
	margin: 0 auto;
	border-radius: 15%;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	text-align: center;
	padding: 5px 10px;
}

td {
	padding: 5px 10px;
}

/* SMALL SCREENS */
@media (max-width: 1200px) {
	/* GENERIC */
	body {
		font-size: 22px;
	}
	header > h1 {
		font-size: 75px;
	}
	nav > a {
		font-size: 32px;
	}
	main {
		width: 90%;
	}
	main h1 {
		font-size: 38px;
	}
	main h2 {
		font-size: 34px;
	}
	main h3 {
		font-size: 30px;
	}
	main h4 {
		font-size: 26px;
	}
	footer {
		width: 75%;
	}

	/* SPECIFIC */
	img#profile {
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 30%;
	}
}
